header,
section,
footer {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 1.875rem;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

a {
  font-size: 1.125rem;
  line-height: 1.3;
  padding: 0.625rem 1.25rem;
  color: #141414;
}

@media (max-width: 800px) {
  header {
    flex-direction: column;
    gap: 30px;
    padding: 1.25rem 0;
  }

  header ul {
    justify-content: center;
  }

  a {
    display: inline-block;
    background: #f5f5f5;
    border-radius: 5px;
  }
}

.principal {
  padding: 2.5rem 1.875rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 8.75rem;
  align-items: center;
}

.principal img {
  max-width: 100%;
}

.principal-conteudo {
  position: relative;
}

.principal-conteudo-titulo {
  font-size: 4.5rem;
  line-height: 5rem;
  font-weight: bold;
}

.principal-conteudo-titulo::before {
  display: block;
  content: url("../img/detalhe.svg");
  z-index: -1;
  position: absolute;
  left: -35px;
  top: -25px;
}

.principal-conteudo-texto {
  font-size: 1.5rem;
  line-height: 1.5rem;
  color: #525252;
  margin-top: 1.875rem;
}

@media (max-width: 1000px) {
  .principal-conteudo-titulo {
    font-size: 3.5rem;
    line-height: 1.125;
  }
}

@media (max-width: 800px) {
  .principal {
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }
  .principal-conteudo-titulo {
    font-size: 3rem;
    line-height: 1.125;
  }
  .principal-conteudo-titulo::before {
    display: none;
  }
}

@media (max-width: 500px) {
  .principal {
    grid-template-columns: 1fr;
  }
  .principal img {
    display: none;
  }
  .principal-conteudo-text {
    font-size: 1.2rem;
    line-height: 1.2rem;
  }
}

.experiencia {
  padding: 5rem 3.75rem;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.experiencia-titulo {
  font-size: 9rem;
  font-weight: bold;
  line-height: 9rem;
  color: #e0e0e0;
  word-break: break-all;
  max-width: 4ch;
  text-transform: uppercase;
}

.experiencia-texto {
  margin-left: 70px;
  max-width: 560px;
  color: #525252;
  padding-left: 20px;
  font-size: 1.5rem;
  line-height: 2rem;
  margin-bottom: 50px;
}

.experiencia-texto span {
  font-weight: bold;
  color: #141414;
}

.experiencia-box {
  display: grid;
  grid-template-columns: 50px 1fr;
  gap: 2rem;
  margin-top: 20px;
}

.experiencia-box span {
  font-size: 0.875rem;
  line-height: 20px;
  text-align: right;
  padding-top: 20px;
  font-weight: 500;
  color: #525252;
}

.experiencia-box-card {
  display: flex;
  background: #fafafa;
  padding: 20px;
  border-radius: 5px;
  gap: 3.75rem;
  max-width: 630px;
  justify-content: space-between;
  border: 1px solid #f0f0f0;
}

.experiencia-box-card h2 {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.25rem;
}

.box-titulo {
  position: relative;
  max-width: 330px;
}

.box-titulo h2::before {
  display: inline-block;
  position: absolute;
  content: "";
  background: linear-gradient(180deg, #b6f829 0%, #67dd0a 100%);
  width: 4px;
  height: 20px;
  left: -25px;
}

.box-titulo p {
  margin: 10px 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #525252;
}

.box-resumo .tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.625rem;
  margin: 10px 0;
}

.box-resumo .tags span {
  padding: 5px 10px;
  background: #fff;
  border-radius: 5px;
  color: #141414;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

@media (max-width: 800px) {
  .experiencia {
    grid-template-columns: 1fr;
    padding: 30px;
  }

  .experiencia-titulo {
    color: #141414;
    font-size: 3rem;
    line-height: 3rem;
    text-transform: capitalize;
    margin-bottom: 40px;
    max-width: initial;
  }

  .experiencia-texto {
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
  }
}

@media (max-width: 500px) {
  .experiencia-box {
    grid-template-columns: 1fr;
    gap: 0.5rem;
  }

  .experiencia-box span {
    font-weight: bold;
    padding-top: 30px;
  }
}

.formacao-bg {
  background: #141414;
}

.formacao {
  color: white;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 7.5rem 3.75rem;
}

.formacao-titulo {
  font-size: 9rem;
  line-height: 9rem;
  font-weight: bold;
  color: #000;
  word-break: break-all;
  max-width: 4ch;
  text-transform: uppercase;
}

.formacao-texto {
  font-size: 1.5rem;
  line-height: 2rem;
  max-width: 520px;
  color: #a3a3a3;
  margin-bottom: 60px;
  margin-left: 100px;
}

.formacao-texto span {
  font-weight: bold;
  color: #fff;
}

.formacao-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.875rem;
  margin-left: 100px;
}

.formacao-card {
  position: relative;
  padding: 20px;
  background: #090909;
  border-radius: 5px;
  width: 200px;
}

.formacao-card::before {
  display: inline-block;
  position: absolute;
  content: "";
  background: linear-gradient(180deg, #b6f829 0%, #67dd0a 100%);
  width: 4px;
  height: 20px;
  left: -4px;
}

.formacao-card span {
  display: inline-block;
  color: #a3a3a3;
  margin-bottom: 15px;
}

.formacao-card h2 {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.5rem;
  margin-bottom: 50px;
}

.formacao-card p {
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #a3a3a3;
}

.curso-idioma {
  margin-top: 60px;
  margin-left: 60px;
  margin-right: 25px;
}

.curso-idioma-grid {
  margin-top: 30px;
  display: grid;
  grid-template-columns: 30px 1fr;
  align-items: center;
  gap: 0.625rem;
  margin-bottom: 30px;
}

.curso-idioma-grid span {
  font-size: 0.875rem;
  font-weight: bold;
  color: #8f8f8f;
  margin-top: 3px;
}

.texto-carga-horaria {
  display: flex;
  justify-content: space-between;
  margin-left: 40px;
}

.texto-carga-horaria-grid {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}

.texto-carga-horaria p {
  font-size: 1.125rem;
  line-height: 1.25rem;
}

.texto-carga-horaria span {
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #8f8f8f;
}

.texto-idioma {
  margin-left: 40px;
  display: flex;
  gap: 0.625rem;
}

.texto-idioma span {
  font-size: 1.125rem;
  line-height: 1.25rem;
  color: #8f8f8f;
}

@media (max-width: 800px) {
  .formacao {
    grid-template-columns: 1fr;
    padding: 30px 30px 50px 30px;
  }

  .formacao-titulo {
    color: #ffffff;
    font-size: 3rem;
    line-height: 3rem;
    text-transform: capitalize;
    margin: 40px 0;
    max-width: initial;
  }

  .formacao-texto {
    font-size: 1.25rem;
    margin: 0;
    padding: 0;
  }

  .formacao-cards {
    gap: 1rem;
    margin: 0;
  }

  .formacao-card {
    flex-grow: 1;
    min-width: 250px;
  }

  .curso-idioma-grid {
    margin-bottom: 20px;
  }

  .curso-idioma {
    margin-left: 0;
  }
}

.footer-bg {
  background: #000;
  color: white;
  padding: 60px;
}

.footer-conteudo {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px 0;
  align-items: center;
  gap: 6.25rem;
}

.footer-conteudo::before {
  display: inline-block;
  content: url("../img/detalhe.svg");
  z-index: 1;
  position: absolute;
  top: -130px;
}

.footer-conteudo-disponivel {
  font-size: 1.5rem;
  line-height: 2rem;
  color: #cccccc;
  max-width: 520px;
}

.footer-conteudo-contatos {
  display: flex;
  flex-direction: column;
  gap: 1.875rem;
  font-size: 2.25rem;
  font-weight: bold;
  line-height: 2.5rem;
}

footer .copy {
  font-size: 1.125rem;
  line-height: 2rem;
  color: #8f8f8f;
}

@media (max-width: 800px) {
  .footer-bg {
    padding: 0 30px 30px 30px;
  }
  .footer-conteudo {
    grid-template-columns: 1fr;
    padding: 30px;
  }

  .footer-conteudo::before {
    display: none;
  }

  .formacao-titulo {
    color: #ffffff;
    font-size: 3rem;
    line-height: 3rem;
    text-transform: capitalize;
    margin: 40px 0;
    max-width: initial;
  }

  .formacao-texto {
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
  }

  .footer-conteudo {
    padding: 60px 0;
  }

  .footer-conteudo-contatos {
    font-size: 1rem;
    line-height: 1.5rem;
    text-align: center;
  }

  .copy {
    font-size: 0.625rem;
    text-align: center;
  }
}
